* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 1000px;
    margin : 0px auto;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

.container .card {
    width: 330px;
    height: auto;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
}

.container .card img{
    width: 300px;
    height: 300px;
    margin: 15px;
    border-radius: 10px;
}

.container .card h1
{
    margin : 20px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: hsl(218, 44%, 22%);
}

.container .card p {
    margin: 0px 25px 35px 25px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.attribution {
    background-color: hsl(212, 45%, 89%);
}


